<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import PersonView from "./views/PersonView.vue";
</script>

<template>
  <div>
    <PersonView />
  </div>
</template>

<style scoped></style>
